<?xml version="1.0" encoding="UTF-8"?>
<config>
	<help key="EasyStore:_Options"/>
	<inlinehelp button="show"/>

	<fieldset name="licenseupdate" label="COM_CONFIG_LICENSEUPDATE_FIELDSET_LABEL">
		<field
			name="joomshaper_email"
			type="email"
			label="COM_EASYSTORE_JOOMSHAPER_EMAIL"
			description="COM_EASYSTORE_JOOMSHAPER_EMAIL_DESC" 
		/>

		<field
			name="joomshaper_license_key"
			type="password"
			label="COM_EASYSTORE_JOOMSHAPER_LICENSE_KEY"
			description="COM_EASYSTORE_JOOMSHAPER_LICENSE_KEY_DESC" 
		/>
	</fieldset>
	
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			filter="rules"
			validate="rules"
			component="com_easystore"
			section="component">
		</field>
	</fieldset>
</config>
